$color-switcher: #c6c6c6;
$color-switcher-active: #03a9f4;
$color-switcher-button: #fff;
$color-burger-line: #000000;
$color-menu: #81d8ff;
$color-link: #000;
$color-background: #ffe5e5;
$color-mode-active: rgb(255, 0, 0);
$color-background-game: #ff9797;
$color-table: #f8ad91;
$color-table-first-line: #6b64cf;
$color-statistics-button: #ff4848;
