$color-switcher: #c6c6c6;
$color-switcher-active: #03a9f4;
$color-switcher-button: #fff;
$color-burger-line: #000000;
$color-menu: #81d8ff;
$color-link: #000;
$color-background: #ffe5e5;
$color-mode-active: rgb(255, 0, 0);
$color-background-game: #ff9797;
$color-table: #f8ad91;
$color-table-first-line: #6b64cf;
$color-statistics-button: #ff4848; 
$color-shadow-cards: 0 0 15px rgba($color: rgba(0,0,0,0.5), $alpha: 1.0);
$color-shadow-button: 0 0 10px rgba(0,0,0,0.5);
$color-shadow-switcher: 0 0 5px rgba(0,0,0,0.2);
$color-shadow-switcher-button: 0 2px 5px rgba(0,0,0,0.2);