.buttons {
    @include flex(column, center, center)
}

.buttons__start_active {
    font-size: 25px;
    padding: 10px;
    border-radius: 11px;
    box-shadow: $color-shadow-button;
    width: 265px;
    text-align: center;
    cursor: pointer;
}

.buttons__play_active {
    font-size: 25px;
    padding: 10px;
    border-radius: 11px;
    box-shadow: $color-shadow-button;
    width: 265px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
    width: 30px;
    height: 30px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.statistics__reset,
.statistics__train-words {
    font-size: 16px;
    background-color: $color-statistics-button;
    cursor: pointer;
    margin-top: 15px;
    padding: 10px;
    @include flex(row, center, center);
    @media screen and (max-width: 768px) {
        margin-bottom: 15px;
    }
    @media screen and (max-width: 425px) {
        font-size: 10px;
    }
}

.statistics__buttons {
    @include flex(row, space-between, center);
    width: 100%;
}