.switcher {
    @include flex(row, space-between, center);
    width: 210px;
}

.switcher__train,
.switcher__play {
 font-size: 20px;
 font-weight: 500;
 user-select: none;
 &_active {
     color: $color-mode-active
 }
}

.switcher__checkbox {
    position: relative;
    width: 80px;
    height: 40px;
    appearance: none;
    -webkit-appearance: none;
    background: $color-switcher;
    outline: none;
    border-radius: 20px;
    transition: 0.5s;
    box-shadow: $color-shadow-switcher;
    &:checked {
        background: $color-switcher-active;
    }
    &:before{
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        top: 0;
        left: 0;
        background: $color-switcher-button;
        transform: scale(1.1);
        box-shadow: $color-shadow-switcher-button;
        transition: 0.5s;
    }
    &:checked:before {
        left: 40px;
    }
}
