.statistics {
    width: 100%;
    font-size: 14px;
    border-spacing: 0;
    text-align: center;
    margin: 20px 0 20px 0;
    @media screen and (max-width: 768px) {
        margin: 0;
    }
}

.statistics__main-line {
    color: white;
    text-shadow: 0 1px 1px #2D2020;
}

.statistics__category,
.statistics__word,
.statistics__translation,
.statistics__train,
.statistics__game,
.statistics__error,
.statistics__percent {
    background: $color-table-first-line;
    cursor: pointer;
    background-image: url(../assets/icons/reverse.svg);
    background-repeat: no-repeat;
    background-position: right;
    @media screen and (max-width: 1024px) {
        background-size: 14px;
    }
    @media screen and (max-width: 768px) {
        background-size: 8px;
    }
    @media screen and (max-width: 425px) {
        background-image: none;
    }
}

th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
}
td:first-child {
    text-align: left;
}
td {
    padding: 10px 20px;
    background: $color-table;
    @media screen and (max-width: 1024px) {
        padding: 5px 10px;
    }
    @media screen and (max-width: 768px) {
        padding: 2px 5px;
        font-size: 10px;
    }
    @media screen and (max-width: 425px) {
        padding: 1px 2px;
        font-size: 7px;
    }
}
