.footer__content {
    @include flex(row, space-between, center);
    padding-bottom: 5px;
    @media screen and (max-width: 768px) {
        padding-top: 50px;
    }
    @media screen and (max-width: 425px) {
        font-size: 10px;
    }
}

.school__link {
    @include flex(row, center, center);
}

.creator__info {
    cursor: default;
    padding-bottom: 5px;
}

.creator__link,
.school__link {
    text-decoration: none;
    color: $color-link;
}

.school__logo {
    padding-right: 10px;
    width: 50px;
}

.answer {
    @include flex(row,space-between,center);
    height: 75px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: #ffc5c5;
    transform: translateY(100%);
    transition: 0.2s all linear;
    &_active {
        transform: translateY(0);
    }
}

.answer__fail,
.answer__right {
    width: 470px;
    height: 45px;
    overflow: hidden;
    @media screen and (max-width: 768px) {
        width: 300px;
    }
    @media screen and (max-width: 425px) {
        width: 135px;
    }
}

.answer__fail{
    padding-left: 10px;
}

.answer__right {
    text-align: end;
    padding-right: 10px;
}

.fail_logo,
.right_logo {
    width: 45px;
    @media screen and (max-width: 425px) {
        width: 20px;
    }
}


.win,
.lose {
    z-index: 10;
    @media screen and (max-width: 768px) {
        width: 85%;
    }
}